:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --background-primary: #ffffff;
  --background-secondary: #f5f4fa;
  --color-selection: #2196f3;
  --icon-body-color: #afb1b8;
  --transition-duration-main: 250ms;
  --transitiom-timing-effect-main: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--color-primary);
  background-color: var(--background-primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  -webkit-transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.link:hover, .link:focus {
  color: var(--color-selection);
}

.unmarked-list {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-name {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-name {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.button {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.footer-contacts__logo {
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__logo {
    text-align: left;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration-main) var(--transitiom-timing-effect-main), visibility var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: opacity var(--transition-duration-main) var(--transitiom-timing-effect-main), visibility var(--transition-duration-main) var(--transitiom-timing-effect-main);
}

.modal-window {
  position: absolute;
  width: calc(100% - 30px);
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: transform var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    min-height: 581px;
  }
}

.close-modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000000;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.close-modal-button:hover, .close-modal-button:focus {
  fill: var(--color-selection);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.input-field {
  margin-bottom: 10px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-secondary);
}

.input-wrapper {
  position: relative;
}

.modal-input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.modal-input:focus, .modal-input:hover {
  border: 1px solid var(--color-selection);
}

.modal-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.modal-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.modal-input:focus + .modal-form-icon, .modal-input:hover + .modal-form-icon {
  fill: var(--color-selection);
}

.comment-field {
  margin-bottom: 20px;
}

.agreement-check {
  margin-bottom: 30px;
}

.agreement-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-secondary);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .agreement-text {
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement-link {
  display: block;
  color: var(--color-selection);
  margin-left: 5px;
}

.agreement-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
  -webkit-transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.agreement:checked + .agreement-text span {
  background-color: var(--color-selection);
  border: 2px solid var(--color-selection);
  fill: #ffffff;
}
.agreement:focus + .agreement-text span {
  border: 2px solid var(--color-selection);
}

.modal-send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  display: block;
  margin: 0 auto;
  -webkit-transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.modal-send-button:hover, .modal-send-button:focus {
  background-color: #0076d6;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 88px;
}
@media screen and (min-width: 1200px) {
  .nav {
    gap: 93px;
    margin-right: auto;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.header__contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact-list {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}

.nav__link {
  position: relative;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav__link--current {
  color: var(--color-selection);
}
.nav__link--current.nav__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-selection);
  bottom: -1px;
  border-radius: 2px;
}

.header__contact-link {
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .header__contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contact-icon {
  fill: currentColor;
}

.mob-container {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.mob-menu__open {
  margin-left: auto;
  padding: 10px 0;
  background: #ffffff;
  fill: #000000;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.mob-menu__open:hover, .mob-menu__open:focus {
  fill: var(--color-selection);
}
@media screen and (min-width: 768px) {
  .mob-menu__open {
    display: none;
  }
}

.mob-menu__close {
  display: block;
  padding-top: 10px;
  padding-right: 0;
  margin-left: auto;
  border: none;
  background: #ffffff;
  fill: #000000;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.mob-menu__close:hover, .mob-menu__close:focus {
  fill: var(--color-selection);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-header__contact-tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-selection);
  margin-bottom: 32px;
}

.mob-header__contact-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  margin-bottom: 64px;
}

.mob-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-selection);
  display: block;
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__item:not(:first-child) {
  padding-left: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: var(--hero-gradient), url(../images/hero_bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero_bg_mob_2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero_bg_tab.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero_bg_tab_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero_bg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero_bg_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color-selection);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  -webkit-transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.hero__order-button:hover, .hero__order-button:focus {
  background-color: #0076d6;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__wrap {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .features__wrap {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__wrap {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--background-secondary);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features__item {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.features__text {
  color: var(--color-secondary);
  line-height: 1.71;
}

.do-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .do-we-do {
    display: block;
    padding-top: 0;
  }
}

.do-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.do-we-do__item {
  position: relative;
}

.do-we-do__description {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team-members {
  background: var(--background-secondary);
}

.member-card {
  background-color: var(--background-primary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .member-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .member-card {
    width: calc((100% - 90px) / 4);
  }
}

.team-members__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.member-card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.member-card__title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
  margin-bottom: 16px;
}

.member-card__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.member-card__soc-item {
  width: 44px;
  height: 44px;
}

.member-card__soc-link {
  width: 100%;
  height: 100%;
  color: var(--icon-body-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}

.member-card__soc-icon {
  fill: currentColor;
}

.member-card__soc-link:hover,
.member-card__soc-link:focus {
  background-color: var(--color-selection);
  color: #ffffff;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--icon-body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-body-color);
  border-radius: 4px;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), border-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), border-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.clients__link:hover, .clients__link:focus {
  color: var(--color-selection);
  border-color: var(--color-selection);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__bloks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__bloks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 165px;
    row-gap: 60px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__bloks {
    gap: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-contacts__addres-link {
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__addres-link {
    text-align: left;
  }
}

.footer-contacts__contact-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__contact-link {
    text-align: left;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-soc__header,
.subscribe-form__header {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-soc__header,
.subscribe-form__header {
    text-align: left;
  }
}

.subscribe-form__header {
  display: block;
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: fill var(--transition-duration-main) var(--transitiom-timing-effect-main), color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--color-selection);
  color: #ffffff;
}

.footer-soc__icon {
  fill: currentColor;
}

.subscribe-form__input {
  display: block;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background: #2f303a;
  -webkit-transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: border var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.subscribe-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border: 1px solid var(--color-selection);
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.subscribe-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: background-color var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: #0076d6;
}

.subscribe-form__button-icon {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-buttons-list {
  max-width: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-buttons-list {
    margin-bottom: 50px;
  }
}

.portfolio-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--color-primary);
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main), box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main), background-color var(--transition-duration-main) var(--transitiom-timing-effect-main), box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.portfolio-filter-button:hover, .portfolio-filter-button:focus {
  color: #ffffff;
  background-color: var(--color-selection);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  background: #ffffff;
  width: 100%;
}
.project-item > .link {
  -webkit-transition: -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-box-shadow var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.project-item > .link:hover, .project-item > .link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .project-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    width: calc((100% - 60px) / 3);
  }
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
  transition: transform var(--transition-duration-main) var(--transitiom-timing-effect-main), -webkit-transform var(--transition-duration-main) var(--transitiom-timing-effect-main);
}
.project-item > .link:hover .project-top-text, .project-item > .link:focus .project-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-description {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-secondary);
}/*# sourceMappingURL=main.css.map */