body {
  color: var(--color-primary);
  background-color: var(--background-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  transition: color var(--transition-duration-main) var(--transitiom-timing-effect-main);
  &:hover,
  &:focus {
    color: var(--color-selection);
  }
}

.unmarked-list {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}
