:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --background-primary: #ffffff;
  --background-secondary: #f5f4fa;
  --color-selection: #2196f3;
  --icon-body-color: #afb1b8;
  --transition-duration-main: 250ms;
  --transitiom-timing-effect-main: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
